* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  body{
	font-family: 'Roboto', sans-serif;
  }

.container {
	font-size: 10px;
	}

	 /* Header */

	
.top-header {
	background-color: #222222;
	color: #f3f3f3;
	display: flex;
	justify-content: space-between;
	height: 20px;
	font-size: 10px;
	font-weight: 400;
	padding-top: 4px;
	padding-left: 90px;
  }

  .languages {
	display: flex;
	list-style: none;
  }

  .languages li {
	padding-right: 60px;
	padding-left: 10px;
  }
  

.nav-bar{
	display: flex;
	justify-content:space-between;
	height: 80px;
	background-color: #F0A83E;
    align-items: center;

}
nav-bar .logo{
	height: 70px;
}
.nav-list{
	display: flex;
}


.nav-list li{
	display: flex;
	font-size: 15px;
	margin: 5px;
	padding-left: 20px;
	padding-right: 20px;	
	color: white;
}



.nav-list li a {
	color: white;
}

.nav-list i{
	color:white;
}


.banner{
		background-image:url('./img/background-img1.png');
		background-position: center;
		background-size: cover;
		background-position: center;
		height:409px;
		display: flex;
		align-items: center;
		background-repeat: no-repeat;
		justify-content: flex-end;
		text-align: center;
	}

	
.nav-banner{
		margin: 11px;
		text-align: center;
		
}
.nav-banner h2{
	background-color: #FFFFFF;
    color: #3C2313;
    font-size: 30px;
    font-weight: 400;
    padding: 10px;
    border-radius: 5px;
}

.nav-banner p{
	font-size: 16px;
	color: #3C2313;
	font-weight: 400;
	margin-top: 12px;
}

.nav-banner button{
	background-color: #F0A83E;
	border: none;
	font-size: 16px;
	color: #ffffff;
	padding: 20px;
	border-radius: 5px;
	cursor: pointer;
	font-weight: 400;
	margin-top: 12px;
	text-align: center;
}

.tripledemiga{
	color: #ffffff;
	font-size: 30px;
	padding: 0 20px;
	line-height: 60px;
	display: none;
	}

   /*Categories and cards */

.categories{
		display: flex;
		flex-direction: column;
		text-align: center;
		
}
.list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

.color {
    color: #F0A83E;
    margin-top: 20px;
}

.categories h2 {
    color: #3C2313;
    font-size: 40px;
    font-weight: 700;
    padding-top: 5px;
	

}

.list {
    color: #666666;
    font-size: 15px;
    font-weight: 400;
}

.list li {
    padding: 20px 13px;
}


/*Cards products */

.products {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.cards{
	background-color: #fbfaf6;
	font-weight: 500;
  	font-size: 15px;
  	text-align: center;
  	margin: 49px 10px 78px;
  	width: 264px;
  	height: 312px;
}

.cards h4{
  color: #3c2313;
}

.cards p{
	color: #F0A83E;
	font-size: 15px;
	font-weight: 500;
}

 /*forms */

.forms{
display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-forms {
  display: flex;
  flex-direction: column;
}

.forms h2 {
  color: #3c2313;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}

.input-form {
  background-color: #3c2313;
  border-radius: 15px;
  border: none;
  width: 340px;
  height: 40px;
  margin: 10px;
}

.input-form::placeholder {
  color: #ffffff;
  font-size: 9px;
  font-weight: 400;
  padding: 14px;
}

.buttom {
	display: flex;
	justify-content: center;
  }
  
.btn {
	width: 110px;
	height: 34px;
	border: none;
	border-radius: 15px;
	color: #ffffff;
	font-size: 16px;
	font-weight: 400;
	padding: 8px auto;
	margin: 31px 6px;
  }
  
.reset {
	background-color: #8a8787;
  }
  
.submit {
	background-color: #f0a83e;
  }

.subscribe{
	background-color: #f0a83e;
    display: flex;
    justify-content: space-between;
	align-items: center;
	height: 80px;
}

.subs-text {
    display: flex;
}

.subs-text p{
	font-size: 20px;
	font-weight: 700;
	color: #FFFFFF;
	align-self: center;
}
.form-susc {
    display: flex;
}

.subs-form{
	border-radius: 15px;
	border: none;
	width: 271px;
	height: 40px;
	margin: 10px;
}
.buttom2{
	background-color: #3C2313;
	width: 70px;
	height: 34px;
	margin: 5px;
	border-radius: 15px;
	border: none;
}

.btn2{	
	font-size: 9px;
	font-weight: 700;
	border: none;
	
}

 /*Footer */

.foot{
	height: 284px;
	background-color: #3C2313;
	display: flex;
	flex-direction: column;
	padding: 20px;

}

.information{
	display: flex;
	margin-left: 20px;
}

.info{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 10px;
}
.info h3{
	color: #ffffff;
	font-weight: 700;
	font-size: 20px;
}

.info p{
	color: #8A8787;
	font-weight: 700;
	size: 10px;
}

.foot2{
	background-color: #222222;
	height: 20px;
	font-size: 10px;
}
.foot2 p{
	color: #FFFFFF;
	height: 12px;
	padding: 4px;
	text-align: center;
}


@media (max-width: 500px){
	
	
	.nav-list{
		flex-direction: column;
		align-items: center;
		position: fixed;
		display: none;

	}
	
	.tripledemiga{
		display: block;
		}

		nav-bar .logo{
			height: 50px;
		}
}



